/*
 * Defaults
 */
 @font-face {
     font-family: Epoca;
     src: url(EpoClassic-Lig-webfont.woff);
 }

 @font-face {
     font-family: Questa;
     src: url(2-questa_grande_regular_31-webfont.woff);
 }

* {
  padding: 0;
  margin: 0;
}

body {
	font-family: Epoca, Arial, Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
}

a {
	color: #CB0000;
	text-decoration: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*
 * Utilities
 */

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.align-center {
	margin: 0 auto 0 auto;
}

/*
 * Sections
 */

header {
	position: relative;
	top: 0;
	left: 0;
	padding: 20px;
}

header #title a {
	text-decoration: none;
}

header #title a:hover {
	text-decoration: none;
	color: #CB0000;
}

/*
 * Menu
 */

nav {
	margin-top: 20px;
	font-family: Questa;
	float: left;
	overflow: hidden;
}

nav a {
	color: #000;
	display:block;
}

nav a:hover {
	color: #CB0000;
}

nav ul {
	position: relative;
	clear: left;
	float: left;
	display: block;
	left: 50%;
	text-align: center;
}

nav ul li{
	position: relative;
	display: block;
	float: left;
	margin-right: 27px;
	right: 50%;
}

nav ul li:last-child {
	margin-right: 0;
}

nav li.sectionTitle {
	margin-top: 10px;
	font-weight: bold;
}

nav .active a {
	color: #CB0000;
}

nav .active a:hover, .project a:hover {
	color: #CB0000;
}

/*
 * Projects
 */

ul#projects {
	margin-top: 20px;
}

li.project {
	float: left;
  margin: 0 20px 0 20px;
}


.fileGroup {
	clear: both;
}

.textblock {
	float: left;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 450px;
	line-height: 1.6em;
}

.file {
	margin-bottom: 10px;
}

.file img {
	display: block;
	padding: 0;
	margin: 0;
}

.title {
	font-weight: bold;
}

.pageText {
	margin-bottom: 20px;
	width: 450px;
}

a.project {
	color: transparent;
}

a.project:hover {
	color: transparent;
	text-decoration: none;
}

.projectInfo {
	margin-bottom: 20px;
}

.slideshow-nav a {
	color: #000;
}

.slideshow-nav a:hover {
	text-decoration: underline;
}

.tags {
	margin-top: 5px;
	margin-bottom: 10px;
}

.tags a {
	text-decoration: underline;
}

.tags a:hover {
	text-decoration: none;
}

.file .info {
	font-size: 0.9em;
	width: 450px;
}

.file .info .caption {
	line-height: 1.4em;
}

/*
 * Blog
 */

.post {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
	width: 600px;
}

.postTitle a:hover {
	text-decoration: underline;
}

.post img {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
}

.post .text {
	margin: 20px 0 20px 0;
}

.post .more {
	color: #DC0033;
}

.post .more:hover {
	color: #FF0000;
}
